<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="listdesign.css" /> 
	<title>冷蔵庫リスト</title>
</head>

<body>
	<form th:action="@{/fridge/delete}" method="post" onsubmit="return confirm('選択したものをリストから削除しますか？')">
		<div style="margin-bottom: 10px;">
			<button type="submit">選択したものを削除</button>
		</div>
		<table border=1>
			<tr>
				<!--削除チェックボックス用の行-->
				<th></th>

				<th>名前</th>
				<th>量</th>
				<th>カテゴリ</th>
				<th>購入日</th>
				<th>賞味期限</th>
				<th>冷凍</th>
			</tr>
			<tr th:each="item : ${items}" th:classappend="${item.daysUntilExpiration <= 3} ? 'text-danger'">
				<!-- チェックボックス（削除対象） -->
				<td><input type="checkbox" name="selectedIds" th:value="${item.id}" /></td>
				<!-- 食材名を編集リンクにしてある -->
				<td><a th:href="@{/fridge/edit/{id}(id=${item.id})}" th:text="${item.name}"></a></td>
				<td th:text="${item.quantity}"></td>
				<td th:text="${item.category}"></td>
				<td th:text="${item.purchaseDate}"></td>
				<!-- 賞味期限が今日まで -->
				<td th:if="${item.daysUntilExpiration == 0}" th:text="'今日まで！'" style="color: coral;">
				</td>
				<!-- 賞味期限が切れていないとき -->
				<td th:if="${item.daysUntilExpiration > 0}" th:text="'あと' + ${item.daysUntilExpiration} + '日'">
				</td>
				<!-- 賞味期限が切れているとき -->
				<td th:if="${item.daysUntilExpiration < 0}" th:text="'切れています'" style="color: red;">
					<!-- 「冷凍」の項目は冷凍してるときだけ表示 -->
				<td th:if="${item.frozen == true}" th:text="'冷凍済み'">
				</td>

			</tr>
		</table>
	</form>

	<!--食材追加ボタン-->
	<div style="margin-top: 20px;">
		<a th:href="@{/fridge/new}">＋ 新しい食材を追加</a>
	</div>

	<!--追加したときのメッセージ表示-->
	<div th:if="${addedmessage}" th:text="${addedmessage}" style="color: green;"></div>
	
	<!--更新したときのメッセージ表示-->
	<div th:if="${changedmessage}" th:text="${changedmessage}" style="color: green;"></div>
	
	<!-- 削除したときのメッセージ表示-->
	<div th:if="${deletedmessage}" th:text="${deletedmessage}" style="color: green;"></div>

</body>

</html>